* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url("../img/header.jpg");
    background-size: cover;
}
header{
    padding: 20px 0;
}
header h1{
    margin: 0;
    font-size: 25px;
}
header a{
    color: #fff;
}
header nav {
    padding: 10px 0;
}
.banner{
    color: #fff;
}
.banner p:first-child{
    font-size: 30px;
}
.banner p:nth-child(2){
    padding: 0 300px;
}
.content-banner{
    padding: 190px 20px;   
    text-align: center;
}
.hero .banner button{
    background: #F05F40;
    border-radius: 20px; 
    margin: 80px 0;
}
/*------------footer*/
footer{
    position: relative;
    top: -100px;
    background: rgba(240, 95, 64,.6);
    padding-top: 40px;
    color: #fff;
}
.container-footer{
    background: #F05F40;
    padding: 20px 300px 60px 300px;
}
/*----------END--footer*/
/*-------nuestros-servicios*/
section.servicios{
    margin: -50px 0 40px 0;        
}
section.servicios .box-icono{
    color: #F05F40; 
    font-size: 40px;
}
section.servicios .box-icono h4{
    font-weight: bold;
}
/*-----END--nuestros-servicios*/
/*-------container-github*/
section.github{
    background: #222222;
}
section.github .col-sm-4, section.github .row{
    padding: 0;
    margin: 0;    
}
section.github img{
    display: inline-block;
}
section.github button{
    background: #fff;
    border-radius: 20px;    
}
/*-----END--container-github*/
/*--------footer-github*/
.footer-github{
    padding: 20px 0;
}
.footer-github p{
    color: #fff;    
}
/*-----END---footer-github*/
/*--------Contactame*/
section.contactame .box-icono{ 
    font-size: 25px;
}
p#email-maday{
    color: #F05F40;     
}
/*-----END---Contactame*/