/*------------CELULARES-----*/
@media screen and (max-width:767px){
    header{
        background: #fff;        
    }
    
    header h1{
        font-size: 25px;
    }
    header h1 a{
        color: #F05F40;        
    }
.content-banner{
    padding: 40px 20px;   
    text-align: center;
}
.container-footer{
    padding: 20px 50px 60px 50px;
}  
.banner p:nth-child(2){
    padding: 0 50px;
}  
    footer{
        top: -48px;     
    }
    .box-categoria-proyecto p{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 70px 0;
        display: block;
        font-size: 30px;
        background: rgba(240, 95, 64,.6);
        color: #fff;
        opacity: 0;
    }
    .box-categoria-proyecto p:hover,.box-categoria-proyecto p:focus,.box-categoria-proyecto p:active{
        opacity: 1;
    }

    /*section.github .box-categoria-proyecto p{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 40px 0;
        display: block;
        font-size: 30px;
        background: rgba(240, 95, 64,.6);
        color: #fff;
    }*/
   
    .contactame{
    padding: 20px 30px 60px 30px;
    }
}
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    .contactame{
    padding: 20px 300px 60px 300px;
    }
    header h1{
        padding-top: 4px;
    }
    a.menu__link{
        padding: 10px;
    }
}
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
    header h1{
        font-size: 35px;
    }    
}
/*------------DESKTOP LARGE-----*/
@media screen and (min-width:1200px){
    header h1{
        font-size: 45px;
    } 
        footer{
        top: -68px;
    }
}
