@media screen and (max-width:768px){
.content-banner{
    padding: 40px 20px;   
    text-align: center;
}    
.container-footer{
        padding: 20px 50px 60px 50px;
    }  
.banner p:nth-child(2){
    padding: 0 50px;
} 
.gallery-item{
    width: 100%;
    cursor: pointer;
}    
}
@media screen and (min-width:769px){
.gallery-item{
    width: 33.333333%;
}    
}